body{
  font-family: 'Poppins', sans-serif;
  color: #232a33;
}

p{
  font-weight: 200;
}

h1{
  font-size: 3.8rem;
}
h2{
  font-size: 3rem;
}

h3{
  font-size: 1.5rem;
}

.small-text{
  font-size: 0.85rem;
}
.text-style-serif{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
.green{
  color: #26aa94;
}

.grey{
  color: #6b6c6c;
}
.green-button{
  border-radius: 5px;
  border: none;
  background-color: #26aa94;
  color: white;
  font-weight: 600;
  padding: 0.8rem 2rem;
}

.green-button i{
  margin-left: 15px;
}

.green-button:hover{
  background-color: #3F3A64;
}

header{
  background-color: #fcf7fb;
  background-image: url(../img/background-pattern-wavify.png);
}

.top-header .col {
  height: 80px;
}
.top-header img{
  width: 120px;
  line-height: 80px;
}

.top-header li{
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
}

.top-header li:not(:first-child){
  margin-left: 15px;
}

/* .top-header div:last-child li{
  color: #232a33;
} */

.top-header nav i{
  transform: scale(0.5);
  padding-bottom: 5px;
}

.jumbotron{
  background: none;
  padding-top: 100px;
  padding-bottom: 0;
}

.jumbotron .col{
  height: 500px;
}


.jumbotron p:nth-child(3){
  padding: 20px 0;
}

.jumbotron img:first-child{
  margin-top: 50px;
  margin-left: 100px;
  width: 90%;
  position: relative;
}

.jumbotron img:last-child{
  width: 90%;
  margin-left: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#numbers{
  padding: 100px 0;
}

.info-numbers{
  height: 100px;
  min-width: 250px;
  background-image: url(../img/background-pattern-grid-line-06.png);
  text-align: center;
}

.info-numbers p{
  font-weight: 400;
  font-size: 0.9rem;
}

.numbers-bar {
  background-image: url(../img/background-pattern-grid-line-06.png);
  width: 10px;
  height: 100px;
}


#about-me .row:first-child .col:nth-child(2) p{
  padding-left: 100px;
}

.youtube img:first-child{
  margin-top: 80px;
  position: relative;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 50px 30px -50px #888888;
}

.youtube img:last-child{
  position: absolute;
  top: calc(50% + 40px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube-test *{
  padding-left: 50px;
}

.youtube-test h3{
  margin-top: 80px;
  line-height: 3rem;
}
.youtube-test img{
  width: 100px;
  margin: 20px 0;
}

#online-courses{
  color: #3e3864;
  margin: 80px 0;
}

#online-courses .row:first-child .col{
  padding: 80px 0;
}

#online-courses .card{
  width: 32%;
  border: none;
  margin-bottom: 50px;
}

#online-courses .card-body{
  padding: 0;
}

div.card-title{
  padding-top: 30px;
}

#online-courses div.grey p{
  padding: 0 15px 0 5px;
}

.card-title{
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 0;
}

#online-courses .card-body i{
  margin-top: 30px;
}


#book-store{
  color: #3e3864;
}

#book-store h2{
  font-size: 2.8rem;
  line-height: 3.5rem;
}
#book-store ul{
  padding: 30px 0 10px 0;
}
#book-store li{
  list-style: none;
}

#book-store i{
  padding-right: 50px;
}

#book-store h4, #book-store h5{
  padding-top: 20px;
}

#book-store img{
  width: 100%;
}

#logos{
  padding: 100px 0;
}
#logos img{
  width: 90%;
  opacity: 0.5;
  filter: grayscale(0.5);
}

#testimonials .row{
  position: relative;
  color: #3e3864;
}

#testimonials .row .col{
  padding: 0;
}

#testimonials .row .col:first-child{
  background-color: #fcf7fb;
  background-image: url(../img/background-pattern-wavify.png);
}

#testimonials .row .col:first-child h3{
  padding: 0 20%;
  margin-top: 40px;
  text-align: center;
  line-height: 2.5rem;
  font-weight: 300;
}

#testimonials .row .col:first-child img{
  border-radius: 50%;
  width: 100px;
  margin: 40px 0 20px 0;
}

#testimonials img:only-child{
  width: 100%;
}

#testimonials .circle{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#testimonials .circle h4{
  padding: 0;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 300;
}

#blog .row:first-child .col{
  padding: 100px 0 50px 0;
}

#blog .row:first-child .col h2{
  font-size: 2.5rem;
}

.my-card{
  width: 23%;
  margin-bottom: 30px;
}

.my-card img{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.my-card i{
  padding-right: 10px;
}

#blog .row:last-child p{
  font-weight: 300;
  border-bottom: solid 1px #26aa94;
  margin-bottom: 150px;
}

footer{
  background-color: black;
  color: lightgrey;
  padding: 80px 0;
}

footer ul{
  padding: 0;
}

footer li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
